<nav class="c-image-wall">
    <h1 class="c-image-wall__title">Daily Photos</h1>
    <ul class="c-image-wall__list">
        {%- for photo in collections.photo | reverse -%}
            <li>
                <a href="{{ photo.url }}">
                    <img alt="" src="{{ photo.url }}/{{ photo.fileSlug }}-320.jpg" loading="lazy" aria-hidden="true">
                    <span class="u-visually-hidden">
                        Daily photo {{ photo.data.title }}, uploaded on <time datetime="{{ photo.date }}">{{ photo.data.publishDate }}</time>.
                    </span>
                </a>
            </li>
        {%- endfor -%}
    </ul>
</nav>
