<nav class="c-link-list">
    <h2 class="c-link-list__title">Latest posts:</h2>
    <ul class="c-link-list__list">
        {%- for photo in collections.photo | reverse -%}
            <li>
                <a href="{{ photo.url }}">
                    <span class="c-link-list__text">
                        {{ photo.data.title | safe }}
                    </span>
                    <time class="c-link-list__meta" datetime="{{ photo.date }}">
                        ({{ photo.data.publishDate }})
                    </time>
                </a>
            </li>
        {%- endfor -%}
    </ul>
</nav>
