<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dennis Heibült</title>
</head>
<body>
    <header>
        <h1>
            <a href="/">
                dennisheibuelt.com
            </a>
        </h1>

        <hr>
    </header>

    <main>
        {{{ content }}}
    </main>
</body>
</html>
